.u-section-1 .u-sheet-1 {
  min-height: 3947px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  margin: 39px 0 60px;
}.u-section-2 .u-sheet-1 {
  min-height: 3947px;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  margin: 39px 0 60px;
}