.u-section-1 .u-sheet-1 {
  min-height: 1936px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 9px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 9px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 497px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 285px;
  height: 291px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  margin: 30px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 30px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 497px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 18px;
}

.u-section-1 .u-image-2 {
  width: 286px;
  height: 286px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 98px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 8px 0 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: -103px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 523px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 348px;
  height: 291px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  margin: 103px 88px 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  font-weight: 700;
  margin: 20px -9px 0 auto;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 551px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 18px;
}

.u-section-1 .u-image-4 {
  width: 382px;
  height: 311px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 56px 55px 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1rem;
  margin: 29px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 18px auto 0 0;
}

.u-section-1 .u-text-9 {
  margin: 13px 0 0;
}

.u-section-1 .u-text-10 {
  margin: 29px 0 0;
}

.u-section-1 .u-text-11 {
  margin: 13px 0 0;
}

.u-section-1 .u-text-12 {
  margin: 39px 0 0;
}

.u-section-1 .u-text-13 {
  margin: 13px 0 0;
}

.u-section-1 .u-text-14 {
  margin: 42px 0 38px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-2 {
    margin-top: 30px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 98px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 6px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 59px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 0;
    margin-bottom: 39px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1310px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 47px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1510px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 891px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -688px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 13px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 222px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3930px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 65px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 342px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 427px;
  }

  .u-section-1 .u-image-2 {
    margin-left: auto;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 41px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 342px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 284px;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 427px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 18px;
  }

  .u-section-1 .u-image-4 {
    width: 320px;
    height: 260px;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 8px;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: 13px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 28px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 61px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 8px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 61px;
    margin-bottom: 40px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 407px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 39px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 35px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 11px;
  margin-bottom: 39px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 238px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-2 {
  margin: 0 30px;
}

.u-section-2 .u-text-3 {
  margin: 18px 0 0 28px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 238px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 238px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 29px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 0 auto 0 1px;
}

.u-section-2 .u-text-7 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-left: 380px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 9px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 209px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 209px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 25px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 209px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 231px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 256px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 95px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }
}