 .u-section-1 {
  background-image: linear-gradient(white, #d6dfe2);
}

.u-section-1 .u-sheet-1 {
  min-height: 943px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 34px 110px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 26px 0 0;
}

.u-section-1 .u-table-1 {
  width: 1100px;
  margin: 28px auto 60px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 36px;
    margin-right: 36px;
  }

  .u-section-1 .u-table-1 {
    width: 991px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    width: 340px;
  }
}