.u-section-1 .u-sheet-1 {
  min-height: 878px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  width: 638px;
  margin: 51px auto 0;
}

.u-section-1 .u-table-1 {
  width: 948px;
  margin: 11px 83px 33px auto;
}

.u-block-b20e-10 {
  height: 46px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-block-b20e-22 {
  height: 46px;
}

@media (max-width: 991px) {
  .u-section-1 .u-table-1 {
    margin-right: 43px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 746px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 22px 54px 0 132px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 22px 80px 0 119px;
}

.u-section-2 .u-table-1 {
  width: 941px;
  margin: 41px 80px 60px auto;
}

.u-block-c5aa-12 {
  height: 46px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-block-c5aa-22 {
  height: 46px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 37px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 6px;
    margin-left: 45px;
  }

  .u-section-2 .u-table-1 {
    margin-right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-table-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-table-1 {
    width: 340px;
  }
}