 .u-section-1 {
  background-image: linear-gradient(#f7fbfc, #c0c0c0);
}

.u-section-1 .u-sheet-1 {
  min-height: 768px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 19px 0 0;
}

.u-section-1 .u-list-1 {
  width: 553px;
  margin: 19px auto 60px;
}

.u-section-1 .u-repeater-1 {
  min-height: 59px;
  grid-template-columns: repeat(1, 100%);
  --gap: 8px;
  grid-auto-columns: 100%;
}

.u-section-1 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-gap: 8px 8px;
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    font-weight: 700;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
}